
.DS_Store
/Asset Bundles/AssetBundles
/Asset Bundles/Unknown Bundle Types
/Creature Assets/\#zCustom/01A. Cubical Bounds/Metagross
/Creature Assets/\#zCustom/01A. Cubical Bounds/Mamoswine
/Creature Assets/\#zCustom/01A. Cubical Bounds/Metagross (Quest)
/Creature Assets/\#zCustom/01A. Cubical Bounds/Revaroom
/Creature Assets/\#zCustom/01A. Cubical Bounds/Volcanion
